/** == Typography (_main.scss) == **/

// page
.leyka-landing.page, .leyka-landing.single, .leyka-landing.search {
    .site-header {
        nav.ll-nav-desktop {
            margin-bottom: $leyka-base * 5;

            @include media-breakpoint-up(lg) {
                margin-bottom: $leyka-base * 6;
            }
        }
    }

    .ll-site-header-separator {
        height: 1px;
        width: 100%;
        border-bottom: 1px solid $leyka-color-border-light;
        margin-bottom: $leyka-base * 5;
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    .ll-page-header {
        display: flex;
        align-items: center;
        flex-flow: column;
        padding-left: $leyka-base * 2;
        padding-right: $leyka-base * 2;

        @include media-breakpoint-up(lg) {
            padding-left: 0px;
            padding-right: 0px;
        }

        h1.ll-header, p.ll-header {
            @include leyka-text-lg4;
            color: $leyka-color-text-dark;
            margin-top: $leyka-base;
            text-align: center;
            max-width: 600px;
        }

        .ll-supheader {
            @include leyka-text-sm1-bold;
            color: $leyka-color-main;
            text-align: center;
            display: block;
        }

        .ll-subheader {
            @include leyka-text-lg1;
            color: $leyka-color-text;
            margin-top: $leyka-base * 3;
            text-align: center;
            max-width: 730px;
        }
    }

    .site-footer {
        margin-top: $leyka-base * 9;
    }    

    .ll-page-content {
        margin-top: $leyka-base * 5;

        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: flex-start;
            margin-top: $leyka-base * 6;
        }

        .ll-sidebar {
            text-align: center;

            @include media-breakpoint-up(lg) {
                flex-basis: 200px;
                min-width: 200px;
                text-align: left;
            }
        }

        .ll-content {
            margin-top: $leyka-base * 3;

            @include media-breakpoint-up(lg) {
                flex-grow: 1;
                flex-shrink: 1;
                margin-top: 0;

                &:not(.ll-content-fuild) {
                    margin-left: $leyka-base * 7;
                    padding-left: $leyka-base * 4;
                }
            }
        }
    }    
}

// faq page
.leyka-landing.page.slug-faq {

    .site-content section.leyka-faq-list {
        margin-top: $leyka-base * 9;
    }

    .leyka-faq-list {

        .faq-category {
            margin-bottom: $leyka-base * 8;

            h2 {
                @include leyka-text-category-section-h;
                color: $leyka-color-text-dark;
                text-align: center;
                margin-bottom: $leyka-base * 4;
            }
        }
    }

    section.leyka-howtostart {
        margin-top: $leyka-base * 13;
        margin-bottom: -$leyka-base;
    }
}

// capabilities
.leyka-landing.page.slug-vozmozhnosti {
    .ll-page-content {
        margin-top: $leyka-base * 6;
    }

    .leyka-howtostart {
        margin-top: $leyka-base * 15;
    }

    .ll-capability {
        display: flex;
        flex-flow: column;
        align-items: center;

        @include media-breakpoint-up(lg) {
            flex-flow: row;
            align-items: stretch;
        }

        &:not(:last-child) {
            margin-bottom: $leyka-base * 7;

            @include media-breakpoint-up(lg) {
                margin-bottom: $leyka-base * 11;
            }
        }

        &:nth-child(even) {
            @include media-breakpoint-up(lg) {
                flex-flow: row-reverse;

                .ll-info {
                    margin-right: $leyka-base * 4;
                    margin-left: 0;
                }
            }
        }

        .ll-img {
            max-width: 544px;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }

        .ll-info {
            @include leyka-text;
            position: relative;
            margin-top: $leyka-base * 3;
            text-align: left;
            text-align: center;

            display: flex;
            flex-flow: column;
            align-items: center;

            @include media-breakpoint-up(lg) {
                display: block;
                margin-top: $leyka-base;
                margin-left: $leyka-base * 4;
                max-width: 352px;
                text-align: left;
            }
        }

        h2 {
            @include leyka-text-lg1;
            color: $leyka-color-text-dark;
            max-width: 288px;
            z-index: 3;
            position: relative;
        }

        p {
            margin-top: $leyka-base;
            z-index: 3;
            position: relative;
            width: 95%;

            @include media-breakpoint-up(lg) {
                margin-top: $leyka-base * 2;
                width: unset;
            }
        }

        a {
            display: block;
            margin-top: $leyka-base * 2;
            z-index: 3;
            position: relative;
        }

        .ll-num {
            @include leyka-text-watermark-section-number;
            color: $leyka-color-price-quick-start;
            position: absolute;
            bottom: -18px;
            right: $leyka-base * 2;
            z-index: 2;

            @include media-breakpoint-up(lg) {
                right: $leyka-base;
            }
        }
    }

    // new capabilities
    .ll-new-cap-content {
        margin-top: $leyka-base * 11;

        h3 {
            @include leyka-text-lg2;
            color: $leyka-color-text-dark;
            margin-bottom: $leyka-base * 6;
            text-align: center;
        }
    }

    .ll-new-cap-list {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: space-around;

        @include media-breakpoint-up(md) {
            flex-flow: row;
            flex-wrap: wrap;
        }
    }

    .ll-new-cap {
        display: flex;
        width: 100%;
        max-width: 448px;
        margin-bottom: $leyka-base * 6;

        @include media-breakpoint-up(md) {
            width: 50%;
        }

        .ll-cap-icon {
            width: 96px;
            height: 90px;
            margin-right: $leyka-base * 4;
            position: relative;

            .icon-drop {
                width: 96px;
                height: 90px;
            }

            img {
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }

        .ll-info {
            h2 {
                @include leyka-text-lg1-fixed;
                color: $leyka-color-text-dark;
            }

            p {
                @include leyka-text-sm1;
                color: $leyka-color-text;
            }

            & > a {
                font-size: 16px;
            }
        }
    }
}

// orgs
.leyka-landing.page.slug-orgs {

    .ll-orgs-list-page-content {
        // display: none;

        &.form-submitted {
            display: none;
        }
    }

    .ll-new-org-form-page-content {
        // display: block;
        display: none;

        &.form-submitted {
            display: block;

            &.submitted-success {
                .alert {
                    margin-bottom: $leyka-base * 20;
                }

                form {
                    display: none;
                }
            }
        }
    }


    .ll-orgs-list-page-content {

        .drop1 {
            position: absolute;
            width: 67px;
            height: 64px;
            top: 80px;
            left: 48px;
            z-index: 1;
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        .drop2 {
            position: absolute;
            width: 699px;
            height: 646px;
            top: 24px;
            right: -110px;
            z-index: 1;
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }
    }

    .ll-page-content {
        margin-top: $leyka-base * 5;
        position: relative;

        @include media-breakpoint-up(lg) {
            min-height: 800px;
        }

        .ll-content {
            z-index: 2;
            // display: flex;
            // justify-content: center;

            nav {
                @include leyka-text-sm2;
                margin-bottom: $leyka-base * 5;

                @include media-breakpoint-up(lg) {
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row;
                }

                .links {
                    width: 100%;
                    position: relative;

                    overflow-x: scroll;
                    overflow-y: hidden;
                    white-space: nowrap;

                    padding-top: $leyka-base;

                    @include media-breakpoint-up(lg) {
                        width: unset;
                        overflow-x: unset;
                        overflow-y: unset;
                    }
                    
                    a {
                        @include ll-internal-link;
                        margin-right: $leyka-base * 3;
                        color: $leyka-color-main;
                        border-color: $leyka-color-main;


                        &.active {
                            color: $leyka-color-text;
                            border-color: transparent;
                        }
                    }
                }

                .ll-add-your-org-button {
                    @include ll-btn-padding;
                    width: 224px;
                    display: block;
                    margin-top: $leyka-base * 3;
                    margin-right: auto;
                    margin-left: auto;

                    @include media-breakpoint-up(lg) {
                        display: inline-block;
                        margin-top: unset;
                        margin-right: unset;
                        margin-left: unset;
                    }
                }
            }

            .orgs-list-wrapper {
                display: flex;
                justify-content: center;
            }

            .orgs-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                max-width: 960px;
                margin-left: -$leyka-base;

                @include media-breakpoint-up(lg) {
                    margin-left: -$leyka-base * 4;
                }
            }

            .ll-org {
                flex-basis: 160px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $leyka-color-border-light;
                border-radius: 4px;
                width: 160px;
                height: 112px;
                overflow: hidden;
                background-color: $leyka-color-white;
                margin-left: $leyka-base;
                margin-bottom: $leyka-base * 4;

                @include media-breakpoint-up(lg) {
                    margin-left: $leyka-base * 4;
                }

                .org-logo {
                    img {
                        max-width: 104px;
                        max-height: 71px;
                    }
                }
            }

            .show-more-link {
                text-align: center;
                margin-bottom: $leyka-base * 6;

                a {
                    @include leyka-text-sm1;
                    @include ll-internal-link;
                    color: $leyka-color-text;
                    border-color: $leyka-color-text;
                }
            }
        }
    }

}

.leyka-landing.page.slug-orgs .ll-new-org-form-page-content {
    @include ll-form-page-content;
}

// itv-paseka
.leyka-landing.page.slug-itv-paseka {
    .ll-page-header h1.ll-header, .ll-page-header h1.ll-subheader, .ll-page-content {
        max-width: 736px;
    }

    .ll-page-content {
        .ll-content {
            padding-left: 0px;

            @include media-breakpoint-up(lg) {
                margin-top: -$leyka-base * 6;
            }

            article {
                .post-content {
                    figure.wp-block-image {
                        text-align: center;
                        margin-top: $leyka-base * 6;
                        margin-bottom: $leyka-base * 3;
                    }

                    &>p {
                        margin-bottom: $leyka-base;
                    }

                    p.project-link {
                        text-align: center;
                        margin-top: $leyka-base * 2;
                        margin-bottom: $leyka-base * 7;

                        a {
                            &[href*="//itv.te-st.ru"],
                            &[href*="//paseka.te-st.ru"], {
                                @include leyka-text-sm4;
                                color: $leyka-color-link;
                                background-color: $leyka-color-tstm-nav;
                                line-height: 24px;
                                padding-right: 28px;
                                padding-left: 10px;
                                border-radius: 100px;

                                background-repeat: no-repeat;
                                display: inline-block;
                                background-size: 12px 12px;
                                background-position: right 8px top 6px;
                                background-image: url(../img/icon-arrow-right-down.svg);
                            }
                        }
                    }
                }
            }
        }
    }

    .leyka-howtostart  {
        @include media-breakpoint-up(lg) {
            margin-top: 0px;
        }
    }
}

// default page
.leyka-landing.page.page-template-default {

    .ll-page-content .ll-content {
        margin-left: 0;

        & > article {
            max-width: 736px;
            margin-left: auto;
            margin-right: auto;
        }

        .post-content {
            @include post-content;
        }
    }
}

// single post
.leyka-landing.single.single-post {

    .ll-page-header {
        h1.ll-header, p.ll-header {
            max-width: 80%;
        }

    }

    .ll-page-content {
        .ll-content {
            padding-left: 0px;

            .post-content {
                @include post-content;
            }
        }
    }

}