/** == Settings and variables (_presets.scss)  == **/

$leyka-base:						8px;

$leyka-color-white:					#ffffff;

$leyka-color-text-light:			#8A8E99;
$leyka-color-text:					#626673;
$leyka-color-text-dark:				#3D414D;

$leyka-color-main-light:			#89E386;
$leyka-color-main:					#14BC1F;

$leyka-color-bg-light:				#E8FCE6;
$leyka-color-bg:					$leyka-color-main;

$leyka-color-hot:					#B8244F;
$leyka-color-hot-bg:				#FFE3E6;

$leyka-color-link: 					#099616;
$leyka-color-link-menu: 			$leyka-color-text-light;
$leyka-color-link-menu-title:		$leyka-color-text-light;

$leyka-color-fill-select-feature:	$leyka-color-main-light;
$leyka-color-tstm-nav:				#B8EFB4;
$leyka-color-border-light:			#E4EAF2;